/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/*********   colors   ******

red			#db2c42
gray		#edeced
dark gray	#a19fa0
footer	 	#333333
light blue 	#60dafe
*/
/***** GENERIC STYLES *************/
/**********************************/
.wrapper{
	width:90%;
    margin: 0 auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6{
	font-family: helvetica, sans-serif;
	font-style:bold;
}

p{
	font-family:georgia, serif;
}

a{
	color: #db2c42;
}

label{
	font-family:georgia, serif;
}

 input[type="text"]{
      border-radius:5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
    }

header{
	margin-bottom:20px;
}

.logo img{
	display:block;
	margin:0 auto;
	max-width:100%;


}

.top_nav ul{
	list-style:none;
	padding:0;
	margin:0;

}
.top_nav a{
	display:block;
	text-decoration:none;
	font-family: georgia, serif;
	width:100%;
	border: 2px solid #edeced;
	margin:0, auto;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
.search{
	background-color: #edeced;
	padding:3%;

	
	
}
#search_cma input{
	display:block;
  	width:100;
  	height:30px;
  	margin:0,auto;

}

.submit_button{
	margin-top:10px;
	height:30px;
	display:block;
	color:white;
	background-color:#db2c42;
	border:none;
	border-radius:3px;
	width:100%;
	margin:0,auto;
	font-family:georgia, serif;
}


.title{
	margin-top: 40px;
	border-top:2px solid #edeced;

}
.title h1{
	width:50%;
}
.title h2{
	text-transform: uppercase;
	color: #a19fa0;
	font-size:.8em;
}

.benefits h2{
	font-size:1.5em;
	}
}
.benefits ul{
	padding:0;
	margin:0;

}
.benefits li{
	font-size:.8em;
	font-family:georgia, serif;
	line-height:1.5em;
}

form{
	border:none;
	background-color:#edeced;
	padding-bottom:10px;
}
.name{
	padding:5% 5% 0% 5%;
}

.name legend{
	padding-top:20px;
	font-weight:bold;
	font-size:1.2em;
}
.name label{
	padding-bottom:8px;
	padding-top:8px
}
.user label{
	padding-bottom:8px;
	padding-top:8px
}

fieldset{
	border:none;
	padding:5%;

}

fieldset h2{
	font-size:1em;
}
fieldset label{
	font-family:georgia, serif;
	font-size:.8em;
}




label{
    display: block;
   
   
    width: 100%;
    text-align: left;
}
input {
  display:block;
  width:100%;
  height:30px;
 
}

.membership_options h2{
	font-size:1em;
	padding:0%;
}

.membership_options h3{
	text-align:center;

}

.membership_options ul{
	list-style: 0;
	padding: 0;
	width:90%;
}
.membership_options li{
	background-color:white;
	text-align:left;
	margin-left:0;
	margin-right:0;
	font-size:.9em;
	font-family: georgia, serif;
	margin-bottom:8px;
	width:100%
	;
}

.levels{
	list-style:none;


	
	padding-top:10px;
	padding-bottom:20px;
	
	width:100%;
}
.levels li{

	margin-left:10%;
	width:100%;
}


/*.membership_level legend{
	font-weight:bold;
	padding-top:30px;*/
.membership_level fieldset{
	margin:0;
	padding:0;

}
}
.radio{
	display:block;
}

.membership_level input{
	display:inline-block;
	width:10%;
	vertical-align: middle;
}

.membership_level label{
	display:inline-block;
	width:80%;
	vertical-align:middle;
}

.checkbox{
	display:block;

}

.checkbox input{
	display:inline-block;
	width:10%;
	vertical-align: middle;

}

.checkbox label{
	display:inline-block;
	width:80%;
	vertical-align:middle;
}

.form_submit{
	width:90%;
	margin:30px auto;
	border-top: solid 1px #a19fa0;

}

.sidebar ul{
	list-style:none;
}

.sidebar li{


}

.sidebar a{
	display:block;
	text-decoration:none;
	font-family:georgia, serif;
	width:90%;
	border:2px solid #edeced;
	height:40px;
	text-align:center;
	padding-top:10px;

}

footer{
	background-color: #333333;
	padding-top:30px;
	padding-bottom:30px;
}

.address{
	color:white;
	list-style:none;
	text-align:center;
	font-family:georgia, serif;
}

.footer_nav{
	float:left;
	width:36%;
}

.footer_nav ul{
	
	

	padding:0;
	margin:0;

}
.footer_nav li{
	margin:0;
	padding:0;
	list-style:none;
}

.footer_nav a{
	
	color: #60dafe;
}




/***** SPECIFIC STYLES ************/
/**********************************/


/*  CLOSE screen-small screen) */

@media screen and (min-width: 600px){

#text_box{
	float:left;
	width:60%;
	margin-right:2%;
	vertical-align:middle;
}
#search_button{
	float:left;
	width: 36%;
	margin:0;
	vertical-align:middle;
}

.title h1{
	display:block;
	width:100%;
	margin-bottom:0;
}
.benefits ul{
	line-height:1.5em;
	margin-bottom:40px;
	padding-bottom:30px;
	border-bottom: 2px solid #edeced;
}

.name{
	
	width:39%;
	float:left;
	vertical-align:bottom;
	padding:5%;
}
.name legend{
	padding-top:0% 5% 5% 5%;
}

.user{
	
	width:39%;
	float:left;
	vertical-align:bottom;
	padding:11.5% 5% 5% 5%;
}

.membership_level h2{
	display:block;
	text-align:left;
}


/*************************/

.membership_options{

	width:100%;
	margin:0 auto;
	display:block;
}
.levels{
	margin:0;
	width:100%;
}



.levels li{
	margin-left:0;
	padding-bottom:10px;
}

.benefits li{
	margin-left:5%;
}

.membership_level{
	display: inline-block;
	
	width:38%;
	vertical-align:top;

}

.checkbox{
	display: inline-block;

	width:38%;
	vertical-align:top;
	
}

.form_submit{
	border:none;
	width:30%;
	margin-left:65%;
	display:block;
	margin-top:30px;
	border-top: 1px solid #a19fa0;

	/* having problems getting border to span form box. It only spans the button. Tried to put border on class form submit and not button but it didn't work*/



}



.submit_button a{
	width:33%;
	padding:5% 10% 5% 10%;
	

}
.sidebar a{
	border:none;
	text-align:left;

}
.sidebar ul{
	list-style:none;
	margin:0;
	padding:0;

}

.sidebar{
	margin-top: 30px;
	border-top: 1px solid #edeced;
	display:block;
}
.sidebar li{

}
.tickets{
	float:left;
	width:33%;
}
.membership{
	float:left;
	width:33%;
}
.donations{
	float:left;
	width:33%;
}


.address ul{
	
	margin:0;
	padding-top:30px;
}
.footer_nav{
	display:block;
	width:100%;
}

.footer_nav li{
	display:inline-block;
	margin:0 auto;
	padding:1%;
}

.footer_nav a{
	width:5%;
}




}
                                               


/*  CLOSE screen and (min-width: 600px) */



@media screen and (min-width: 800px){
.logo img{
	margin-left:5%;
	display:block;
}
.body{
	position:relative;

}

.search{
	position:absolute;
	top:0%;
	right:5%;
	background-color:none;
	padding:0%;
	margin-top:15px; 
}

.submit_button{
	width:36%;
}

.top_nav{
	display:block;
	border:1px solid #edeced;
	margin-top:20px;

}

.top_nav li{
	display:inline-block;
	width:16%;

}
.top_nav a{
	border:none;

}

.title{
	border:none;
	background-color: #edeced;
	padding:2%;

}

.levels{
	
	background-color: #a19fa0;
	float:left;
	width:25%;

	

}
.levels li{
	margin: 2% 1% 2% 2%;
	padding-left:5%;
	padding-bottom:5%;
	float:left;
	width:25%;

}

.benefits li{
	float:none;
	margin-right:0;
	width:90%;
}

.form_submit input{
	background-color: #60dafe;
	width:100%;
}




}

@media screen and (min-width: 900px){

.form_submit input{
	background-color: #db2c42;
}
#content{
	float:left;
	width:65%;
	margin-bottom:50px;
	margin-right:5%;

}

.title{
	margin-bottom:40px;
}

.sidebar{
	border:none;
	float:left;
	padding-left:5%;
	border-left: 1px solid #edeced;
	margin-top:0;
	
}
.sidebar a{
	width:100%;

}

.tickets,.membership,.donations{
	float:none;
	margin:0;
	width:100%;
}

.footer_nav{
	float:left;
	padding-left:0;
	font-size:.8em;
	margin: 0 auto;


}

.nav_1{
	float:left;
	width:40%;
	text-align:right;
}

.nav_2{
	float:left;
	width:60%;
	text-align:left;
}





}

